
    .btn-github {
      color: #fff;
      background-color: #6610f2;
      border-color: #6610f2;
    }

    .btn-github:hover {
      color: #fff;
      background-color: #6610f2;
      border-color: #6610f2;
    }

    .btn-outline-github {
      color: #6610f2;
      background-color: transparent;
      background-image: none;
      border-color: #6610f2;
    }

    .btn-outline-github:hover {
      color: #fff;
      background-color: #6610f2;
      border-color: #6610f2;
    }

    .btn-outline-github:focus, .btn-outline-github.focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }

    .btn-outline-github.disabled, .btn-outline-github:disabled {
      color: #6610f2;
      background-color: transparent;
    }

    .btn-outline-github:not(:disabled):not(.disabled):active, .btn-outline-github:not(:disabled):not(.disabled).active,
    .show > .btn-outline-github.dropdown-toggle {
      color: #fff;
      background-color: #6610f2;
      border-color: #6610f2;
    }

    .btn-outline-github:not(:disabled):not(.disabled):active:focus, .btn-outline-github:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-github.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }

    .btn-github:focus, .btn-github.focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }



    .btn-github:not(:disabled):not(.disabled):active, .btn-github:not(:disabled):not(.disabled).active,
    .show > .btn-github.dropdown-toggle {
      color: #fff;
      background-color: #1e7e34;
      border-color: #1c7430;
    }

    .btn-github:not(:disabled):not(.disabled):active:focus, .btn-github:not(:disabled):not(.disabled).active:focus,
    .show > .btn-success.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }

    .text-overflow {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 500px;
    }
